<mat-toolbar color="accent">
  <span><img src="../../assets/logo.png" alt="logo" class="logo-menu"></span>
  <span class="example-spacer">Banking Management System</span>
  <button mat-button (click) = "applyLoan()">Apply Loan</button>
  <button mat-button [matMenuTriggerFor]="profilemenu">Profile</button>
  <mat-menu #profilemenu="matMenu">
    <button mat-menu-item (click) = "updateProfile()">Update Profile</button>
  </mat-menu>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>