.container
{
    width: 100%;
    height: 240vh;
    background-color: rgb(241, 238, 238);
}

.card-container
{
    flex: 1 1 auto;
    width:80%;
    margin-left:9%;
       
}

.mat-form-field
{
    width: 35%;
}

.form-container
{
    margin-left:10%
}


.header
{
    font-size: large;
    border-bottom: 1px dotted rgb(107, 107, 107);
    width: 85%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
}

.disableClass
{
    color: black;
}